# MTK platform .rc configure

import init.mt6735.usb.rc

on init
    mkdir /oem 0550 root root
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
	chmod 0666 /dev/pn547
	chown system system /dev/pn547
    chmod 0666 /sys/bus/platform/drivers/gsensor/start_fast_calibration
    chmod 0666 /sys/devices/platform/battery/Charging_disable
    chmod 0666 /sys/devices/platform/battery/ChargingBat_disable
    chmod 0666 /sys/bus/i2c/devices/2-0028/calibrate
    chown system system /sys/bus/i2c/devices/2-0028/calibrate
    chmod 0666 /sys/devices/bus/11009000.i2c/i2c-2/2-0028/calibrate
    chown system system /sys/devices/bus/11009000.i2c/i2c-2/2-0028/calibrate
on post-fs-data
    chown system system /persist
    chmod 0771 /persist
    restorecon /persist
    mkdir /persist/simlock 0775 system mot_tcmd
    chown radio mot_tcmd /persist/simlock
    chmod 0775 /persist/simlock

    # Restore necessary files into data partition
    mkdir /data/thh 0770 root root
    mkdir /data/thh/tee_00 0770 root root
    copy /cache/thh/tee_00/thh_mt6737_woods.certs /data/thh/tee_00/thh_mt6737_woods.certs
    copy /cache/thh/tee_00/thh_mt6737_woods.cfg /data/thh/tee_00/thh_mt6737_woods.cfg
    mkdir /data/local 0751 root root
    mkdir /data/local/tmp 0771 shell shell
    copy /cache/local/tmp/thh_mt6737_woods.cfg /data/local/tmp/thh_mt6737_woods.cfg
    chown system system /sys/class/graphics/fb0/cabc_mode
    chown system system /sys/class/graphics/fb0/hbm

# Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF

	chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    chmod 0660 /dev/DW9718AF
    chown system camera /dev/DW9718AF

    chmod 0660 /dev/DW9718QTAF
    chown system camera /dev/DW9718QTAF

    chmod 0660 /dev/CAM_CAL_DRV1
    chown system camera /dev/CAM_CAL_DRV1

    chmod 0660 /dev/CAM_CAL_DRV2
    chown system camera /dev/CAM_CAL_DRV2

    chmod 0660 /dev/CAM_CAL_DRV3
    chown system camera /dev/CAM_CAL_DRV3

    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

# fp
    chown system system /sys/devices/platform/egis_input/navigation_enable
    chmod 0660 /sys/devices/platform/egis_input/navigation_enable
    
    chown system system /sys/devices/platform/egis_input/navigation_event
    chmod 0660 /sys/devices/platform/egis_input/navigation_event
    
# Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1
    chmod 0666 /dev/exm0

    # Sensors
    chmod 0664 /sys/bus/platform/drivers/gsensor/cali
    chmod 0664 /sys/bus/platform/drivers/gsensor/flat_threshold
    chmod 0664 /sys/bus/platform/drivers/gsensor/flatdown
    chmod 0664 /sys/bus/platform/drivers/gsensor/int_mode
    chmod 0664 /sys/bus/platform/drivers/gsensor/softreset
    chmod 0664 /sys/bus/i2c/drivers/ltr778/als
    chmod 0664 /sys/bus/i2c/drivers/ltr778/alslv
    chmod 0664 /sys/bus/i2c/drivers/ltr778/alsval
    chmod 0664 /sys/bus/i2c/drivers/ltr778/reg
    chmod 0664 /sys/bus/i2c/drivers/ltr778/ps
    chmod 0664 /sys/bus/i2c/drivers/ltr778/status
    chmod 0664 /sys/bus/i2c/drivers/ltr778/stowed

    chown system system /sys/bus/platform/drivers/gsensor/cali
    chown system system /sys/bus/platform/drivers/gsensor/flat_threshold
    chown system system /sys/bus/platform/drivers/gsensor/flatdown
    chown system system /sys/bus/platform/drivers/gsensor/int_mode
    chown system system /sys/bus/platform/drivers/gsensor/softreset
    chown system system /sys/bus/i2c/drivers/ltr778/als
    chown system system /sys/bus/i2c/drivers/ltr778/alslv
    chown system system /sys/bus/i2c/drivers/ltr778/alsval
    chown system system /sys/bus/i2c/drivers/ltr778/reg
    chown system system /sys/bus/i2c/drivers/ltr778/ps
    chown system system /sys/bus/i2c/drivers/ltr778/status
    chown system system /sys/bus/i2c/drivers/ltr778/stowed

on init

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start

